@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.App {
  text-align: center;
  background-color: #484b52;
  color: #f7f7f7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #4963ae;
}

.navBar {
  background-color: #5b6272;
}

.small-logo {
  height: 5vmin;
  width: 25vmin;
  pointer-events: none;
  display: flex;
  justify-content: left;
  font-weight: bold;
}


.about-desc {
  text-align: left;
}

.font-weight-heavy {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
